{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

    <div class="jumbotron text-center">
        <div>
            <table class="center-table">
                <tr>
                    <th>
                        <a href="https://spotipy.readthedocs.io/" class="logo  lang-logo">
                            <img src="{% static 'lang-logo.png'%}">
                        </a>
                    </th>
                    <th>
                        <a href="https://developer.spotify.com/" class="logo spot-icon">
                            <img src="{% static 'Spotify_Icon_RGB_Green.png'%}">
                        </a>
                    </th>
                    <th>
                        <a href="https://www.tensorflow.org/" class="logo tf-icon">
                            <img src="{% static 'Tensorflow_logo.png'%}">
                        </a>
                    </th>
                </tr>
            </table>
        </div>

        <h1>Gentle Stream</h1>
        {#        <p> {{ LANGUAGE_CODE1 }}</p>#}

        <p>{% trans "This application is a part of my masters deegre. In order to get real users preferences, Gente Stream logs your Spotify account listening preferences" %}</p>
        <a type="button" class="btn btn-lg btn-default" href="https://github.com/murvudd/gentle-stream"><span class="glyphicon glyphicon-download"></span> {% trans "Source on GitHub" %}</a>
{#        <table align="center">#}
{#            <tr>#}
{#                <td>#}
{#                    <a type="button" class="btn btn-lg btn-default" href="https://github.com/murvudd/gentle-stream"><span class="glyphicon glyphicon-download"></span> {% trans "Source on GitHub" %}</a>#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>#}
{#                    <a type="button" class="btn btn-lg btn-primary" href="/splogin"><span class="glyphicon glyphicon-flash"></span> {% trans "Let's go!" %}</a>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}

    </div>
    <div class="container">
        <div class="alert alert-info text-center" role="alert">
            {% trans "Please read how does the app work, and data policy below" %}
            {#            {% trans "" %} <a href="https://" class="alert-link">link</a> tutorial.#}

        </div>
        {#        <hr>#}
        <div class="row">
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-info-sign"></span> {% trans "How this app works" %}</h3>
                <ul>
                    <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/python-getting-started">Heroku Button</a> on the repository.</li>

                    <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Pipfile</a>, creating a deployable slug.</li>
                    <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
                    <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-pencil"></span> {% trans "Data policy" %}</h3>
                <ul>
                    <li>{% trans "Gentle Stream DOES NOT log:" %}</li>
                    <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
                    {#                    <ul>#}
                    {#                        <li><code>git clone https://github.com/heroku/python-getting-started.git</code> - this will create a local copy of the source code for the app</li>#}
                    {#                        <li><code>cd python-getting-started</code> - change directory into the local source code repository</li>#}
                    {#                        <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>#}
                    {#                        <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-python#push-local-changes">deploy changes</a> to Heroku</li>#}
                    {#                    </ul>#}
                </ul>
                {#                <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>#}
                {#                <ul>#}
                {#                    <li><a href="https://www.heroku.com/home">Heroku</a></li>#}
                {#                    <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>#}
                {#                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>#}
                {#                    <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>#}
                {#                </ul>#}
            </div>
        </div> <!-- row -->
        {#        <div class="alert alert-info text-center" role="alert">#}
        {#            Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.#}
        {#        </div>#}
        {#        <div class="jumbotron text-center">#}
        {##}
        {##}
        {#            <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a>#}
        {#        </div>#}
    </div>
    <h1>{{ auth_url }}</h1>
    <div align="center">
            <a type="button" class="btn btn-lg btn-primary text-center" href="{{ auth_url }}"><span class="glyphicon glyphicon-flash"></span> {% trans "Let's go!" %}</a>
{#            <a target="_blank" type="button" class="btn btn-lg btn-primary text-center" href="{{ auth_url }}"><span class="glyphicon glyphicon-flash"></span> {% trans "Let's go!" %}</a>#}
{#        <a type="button" class="btn btn-lg btn-primary text-center" href="/sp"><span class="glyphicon glyphicon-flash"></span> {% trans "Let's go!" %}</a>#}

    </div>
{% endblock %}
