{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

    <div class="jumbotron text-center">
        <div>
            <table class="center-table">
                <tr>
                    <th>
                        <a href="https://spotipy.readthedocs.io/" class="logo  lang-logo">
                            <img src="{% static 'lang-logo.png'%}">
                        </a>
                    </th>
                    <th>
                        <a href="https://developer.spotify.com/" class="logo spot-icon">
                            <img src="{% static 'Spotify_Icon_RGB_Green.png'%}">
                        </a>
                    </th>
                    <th>
                        <a href="https://www.tensorflow.org/" class="logo tf-icon">
                            <img src="{% static 'Tensorflow_logo.png'%}">
                        </a>
                    </th>
                </tr>
            </table>
        </div>

        <h1>Gentle Stream</h1>
        {#        <p> {{ LANGUAGE_CODE1 }}</p>#}

        <p>{% trans "This application is a part of a masters deegre. In order to get real users preferences, Gente Stream logs your Spotify account listening preferences" %}</p>
        <a type="button" class="btn btn-lg btn-default" href="https://github.com/murvudd/gentle-stream"><span class="glyphicon glyphicon-download"></span> {% trans "Source on GitHub" %}</a>

    </div>
    <div class="container">
        <div class="alert alert-info text-center" role="alert">
            {% trans "Please read how does the app work, and data policy below" %}
            {#            {% trans "" %} <a href="https://" class="alert-link">link</a> tutorial.#}

        </div>
        {#        <hr>#}
        <div class="row">
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-info-sign"></span> {% trans "How this app works" %}</h3>
                <ul>
                    <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/python-getting-started">Heroku Button</a> on the repository.</li>

                    <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Pipfile</a>, creating a deployable slug.</li>
                    <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
                    <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-pencil"></span> {% trans "Data policy" %}</h3>
                <ul>
                    <li>{% trans "Gentle Stream is anonymous and DOES NOT log:" %}</li>
                    <ul>
                        <li> {% trans "Your email" %}</li>
                        <li> {% trans "Your spotify login" %}</li>
                        <li> {% trans "Any data that could identify you" %}</li>
                    </ul>
                    <li>{% trans "Gentle Stream does log " %} <a herf="https://developer.spotify.com/documentation/web-api/">Spotify Api </a>{% trans "access and refresh tokens with these " %}<a href = "https://developer.spotify.com/documentation/general/guides/scopes/#user-library-read">scopes:</a>
                    <ul>
                        <li>{% trans "playlist-read-collaborative " %}</li>
                        <li>{% trans "playlist-read-private " %}</li>
                        <li>{% trans "user-follow-read" %}</li>
                        <li>{% trans "user-library-read" %}</li>
                        <li>{% trans "user-top-read" %}</li>
                        <li>{% trans "user-read-recently-played" %}</li>
                    </ul>
                        {% trans "which will be used to create custom database of Spotify users listenging preferences" %}
                    </li>
                    <li>{% trans "By clicking Let's go button below, you confirm that you have read, and accept this Data Policy" %}</li>
                </ul>
            </div>
        </div> <!-- row -->
    </div>    <div align="center">
    <a type="button" class="btn btn-lg btn-primary text-center" href="{{ auth_url }}"><span class="glyphicon glyphicon-flash"></span> {% trans "Let's go!" %}</a>
    {#            <a target="_blank" type="button" class="btn btn-lg btn-primary text-center" href="{{ auth_url }}"><span class="glyphicon glyphicon-flash"></span> {% trans "Let's go!" %}</a>#}
    {#        <a type="button" class="btn btn-lg btn-primary text-center" href="/sp"><span class="glyphicon glyphicon-flash"></span> {% trans "Let's go!" %}</a>#}

</div>
{% endblock %}
