<!DOCTYPE html>
<html ng-app="accounts" ng-csp ng-strict-di>
<head>
    <meta charset="utf-8">
    <title ng-bind="(title && (title | localize) + \' - \') + \'Spotify\'">Spotify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <base href="/">
    <link rel="icon" href="https://accounts.scdn.co/images/favicon.ace4d8543bbb017893402a1e9d1ac1fa.ico">
    <link href="https://accounts.scdn.co/css/index.8a33c84808dd0287acad.css" media="screen" rel="stylesheet">

    <script async defer
            src="https://www.google.com/recaptcha/api.js?render=explicit"
            nonce="UGhwbswbBIVONsFViofq+Q=="></script>
    <script defer src="https://accounts.scdn.co/js/index.8a33c84808dd0287acad.js" sp-bootstrap></script>
    <meta ng-non-bindable sp-bootstrap-data=\'{"client":{"name":"MastersDegreeSpotifyAPIMetadataForML"},"country":"US","useCaptcha":false,"locales":["*"],"BON":["0","0",801349619]}\'>
</head>
<body ng-view></body>
</html>